{% extends "master.html" %}

{% block title %}
  Radiant Horizon
{% endblock %}


{% block content %}
 
    
    <div id="divA">
      <h1>Radiant Horizon</h1>

      <h3>Welcome to Radiant Horizon reservation system</h3>
      <h4>Unveil a World of Unforgettable Stays: Where Every Room is a Unique Adventure! </h4>
      
      <p>Go check the list of <a href="clients/">Clients</a></p>  
    </div>
    <div id="divB">
      <img src="../static/images/rooms.png" alt="Inside view of the hotel">
    </div>
    <div id="divC">
      <hr>
      <h1>About Radiant Horizon</h1>
      <p>Welcome to Radiant Horizon, where we redefine the art of hospitality by transforming each stay into a personalized journey. 
        Our themed rooms cater to every visitor, offering a curated experience that transcends the ordinary. 
        From the thrill-seekers to the peace-seekers, our hotel is a tapestry of diverse themes designed to enchant and captivate.
        At Radiant Horizon, we don't just provide accommodations; we craft experiences tailored to your desires. 
        Whatever your adventure, find your perfect escape in our themed rooms that promise a stay like no other. 
        Book your room today and step into a world where hospitality knows no bounds! 
        </p>
    </div>
  
{% endblock %}