{% extends "master.html" %}

{% block title %}
  Details about {{ mymember.firstname }} {{ mymember.lastname }}
{% endblock %}


{% block content %}
<div id="divH">
  <h1> Número de Habitacion: {{ myroom_detail.numhabitacion }}  Precio: {{ myroom_detail.precio }}</h1>
</div>

<div id="divI">
  <p>Máximo de Personas: {{ myroom_detail.max_personas }}</p>
  <p>Edificio: {{ myroom_detail.edificio }}</p>
  <p>Categoría: {{ myroom_detail.categoria.categoria }}</p>
  <p>Encargado: {{ myroom_detail.encargado.nombre }} {{ myroom_detail.encargado.apellido }}</p>
</div>  


<p>Back to <a href="/rooms">Cuartos</a></p>

{% endblock %}
