{% extends "master.html" %}

{% block title %}
Radiant Horizon Rooms
{% endblock %}


{% block content %}

<div id="divH">
  <div id="divJ1">
    <h1>All rooms</h1>
  </div>
  <div id="divJ2">
    <p>Th reserved rooms can be seen here, for more details about the rooms, click on the name.</p>
  </div>
  <div id="divJ3">
    <img src="../static/images/hotel.png" alt="">
  </div>
  
</div>
  
<div id="divI">
  <ul>
    {% for x in myrooms %}
      
        <div id="listForm">
          <li>
            <a href="roomDetail/{{ x.id }}">Room number: {{ x.numhabitacion }} <br>Category: {{ x.categoria.categoria }}</a>
          </li>
          
        </div>
    {% endfor %}
  </ul>
</div>


{% endblock %}